@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 476px;
    height: 688px;
    margin: 50px auto 50px;
    padding: 0;
}
.text__high {
    margin: 20px 0 12px;
    text-align: center;
}
.text__low {
    margin: 12px 0 12px;
    text-align: center;
}
.tasks {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 6px;
}

.task, .task__add {
    width: 460px;
    border: 1px solid #989898;
    border-radius: 5px;
}

/*buttons cross and plus_____*/
button {
    border: 0;
    background-color: #fff;
    display: block;
    float: left;
    padding: 0;
    cursor: pointer;
}
.button__plus{
    position: relative;
    float: right;
    width: 15px;
    margin: 12px 23px 8px 24px;
    height: 20px;
}
.plus {
    height: 24px;
    width: 24px;
    position: absolute;
    background-color: #FFF;
    opacity: 0;
    cursor: pointer;
}

.img__delete {
    height: 17px;
    width: 17px;
    float: right;
    display: block;
    margin: 15px 19px 8px 0px;
    cursor: pointer;
}

/*_____buttons cross and plus*/
.done__button {
    margin: 12px 12px;
    height: 21px;
    width: 21px;
    display: block;
    float: left;
    border-radius: 50%;
    background-image: url("/img/check-off.svg");
}

p {
    float: left;
    display: block;
    margin: 12px 0 12px;
    width: 370px;
}

.input__text {
    float: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 380px;
    border: none;
    margin: 12px 0 12px 12px;
}
.inputlow__text {
    float: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 380px;
    border: none;
    margin: 12px 0 12px 12px;
}

.task-checked{
    background-color: #e5e5e5;
    
}
.done__button-checked {
    background-image: url("/img/check-on.svg");
}

input {outline:none;}

